label {display:inline;}

#display, #display2{
  height:44vh !important;
}

#intro-text{
  font-size: 12pt;
}

.navbar, .form-group{
  margin-bottom:0;
}

.container-fluid{
  padding: 0;
}

.shiny-split-layout > div{
  overflow: visible;
}

#control{
  background-color:#e8f4f8;
  overflow: visible;
  border-radius: 0;
}